<!DOCTYPE html>
<html>
  <head>
    <title>Home Page | Fund Corp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body bgcolor="LightYellow">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="color: black">FundCorp</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/registration">Register</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/publictracking">Tracking Funds</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <font face="Arial Black" size="4" color="Gray">
        <center>
          <h1 style="color: black">Welcome to Fundcorp</h1>
          <h3>
            A revolutionary Fund Raising and Fund Tracking System over
            Blockchain
          </h3>
          <br />
          <h4>Presented by</h4>
          <p>Ganesh Padval (B-41)</p>
          <p>Payal Palshetkar (B-42)</p>
          <p>Harsh Pandey (B-43)</p>
          <p>Hrushabh Patade (B-44)</p>
        </center>
      </font>
    </div>
  </body>
</html>
